/* ============================================= */
/*              Main   Styles                    */
/* ============================================= */

.door-frame {
  cursor: pointer;
  padding: 10px;
}

.instructWrap {
  text-align: center;
  margin-top: 42px;
  margin-bottom: 21px
}

.instructTitle{
  display: inline;
  font-size: 18px;
  color: #0ff;
}

.instructions-row{
  margin: 0 auto;
  width: 400px
}

.instruction-number{
  padding-right: 25px;
  font-size: 36px;
  color: #0ff;
}

.instruction-text{
  padding: 10px;
  font-size: 14px;
  color: #fff;
}

.door-row{
  text-align: center;
}

.start-row{
  box-sizing: content-box;
  width: 120px;
  height: 43px;
  background-color: #eb6536;
  margin: auto;
  padding-top: 18px;
  font-size: 18px;
  text-align: center;
  color: #010165;
  margin-bottom: 21px;
  cursor: pointer;
  

}